<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/d_style.css">
    </head>
    <body>
        
        <main>
            <!--navegation bar-->
            <nav>
                <span id="nav__logo">
                 <a href="index.html" name="CIGAS_Logo" alt="CIGAS_Logo">CIGAS</a>
                </span>
                 <ul>
                     <li class="space__items">
                         <a href="index.html#slide__01" class="nav__link--underline">Home</a>
                     </li>
                     <li class="space__items">
                         <a href="index.html#slide__02" class="nav__link--underline">About Us</a>
                     </li>
     
                     <li class="space__items">
                         <a href="index.html#slide__03" class="nav__link--underline">Services</a>
                     </li>
                     
                     <li class="space__items">
                         <a href="index.html#slide__04" class="nav__link--underline">Team</a>
                     </li>

                     <li class="space__items">
                        <a href="login.html" class="nav__link--underline">Sign in</a>
                    </li>

                     <li class="space__items">
                        <a href="login.html" class="" id="nav__link--signup">Sign Up</a>
                    </li>
                 </ul>
             </nav>
                    <!--"Slides of site"-->
                <section id="slide__01" class="slide__structure slide__background--color--primary">
                    <img class="" id="anna__image" src="/images/pexels-anna.png">
                    <img class="" id="embroidered__image" src="/images/embroidered_circle.png">  
                        <div class="slide__text--block">
                            <span class="slide__title">Academic Assistance at Your Fingertips</span>
                            <p class="slide__paragraph">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Culpa ex quaerat autem quod minima alias veritatis, harum nihil distinctio laboriosam saepe illo similique debitis ipsum inventore nobis voluptates ipsa nemo!
                            </p>
                        </div>
                </section>
                    
                    <!--Slide 02-->
                <section id="slide__02" class="slide__structure slide__filter">
                    <span class="slide__title">About US</span>
                </section>

                    <section id="" class="slide__structure slide__background--color--primary intermedium__block_text--left">
                        <img id="aboutus__person" src="/images/aboutus_person.png">
                        <div class="slide__text--block">
                            <span class="slide__title">Cigas is a study manager plataform</span>
                            <p class="slide__paragraph">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Culpa ex quaerat autem quod minima alias veritatis, harum nihil distinctio laboriosam saepe illo similique debitis ipsum inventore nobis voluptates ipsa nemo!
                            </p>
                        </div>
                    </section>
                    <!--Slide 03-->
                <section id="slide__03" class="slide__structure slide__filter">
                    <span class="slide__title">Services</span>
                </section>

                    <section id="" class="slide__structure slide__background--color--primary">

                    </section>
                    <!--Slide 04-->
                <section id="slide__04" class="slide__structure slide__filter">
                    <span class="slide__title">Team</span>
                </section>
                
        </main>
        <!-- Footer -->
        <footer>
                   CIGAS Studenty &copy; 2023
        </footer>
    </body>
</html>