<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>

	<img class="logodocigas" src="/images/logocigas.jpg">
	<div class="container">
		<form>
			<h1>Login</h1>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" placeholder="Enter Username" required>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" placeholder="Enter Password" required>
		</form>
		<a class="botaologin" href="./dashboard.html">Login</a>
	</div>
</body>
</html>