@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('variables.css');
@import url('reset.css');
@import url('componentes/navbar.css');
@import url('componentes/footer.css');

@media screen and (min-width:820px){
    /* the "slide structure" class is responsible for the parallax effect and page sectors*/
    .slide__structure{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height:100vh !important;
      width: 100%;
      position: relative;
      overflow: hidden;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      text-align: center;
    }

    .slide__container{
      width: 100%;
      height: 30vh;
      background:linear-gradient(rgb(214, 187, 129),  rgb(176, 154, 107));
    }
    
    .slide__text--block{
      max-width: 700px;
      right: 0;
      position: absolute;
      margin:0 20px;
    }

    .slide__title{
      color:white;
      text-transform: uppercase;
      font-size: 2.2rem;
      font-family: "Poppins";
      font-weight: 900;
   }

    .slide__paragraph{
      color:white;
      text-align: justify;
    }
    /* background of page sectors */
    .slide__background--color--primary{
      background-color: var(--primary-color);   
    }
    .slide__background--color--secundary{
      background-color: #ebebeb;
    }
    .slide__filter{
      filter: brightness(65%);    
    }
    /* first section, slide 01/home */
    #anna__image{
      min-width: 30.5%;
      z-index: 4;
      bottom: 0;
      position: absolute;
    }

    #embroidered__image{
      min-width: 37.1%;
      z-index: 3;
      bottom: 0;
      position: absolute;
    }
    /* section two, slide 02/about us */
    #slide__02{
      background-image: url("../images/about_us.jpg");
    }

    #aboutus__person{
      min-width: 35.6%;
      z-index: 6;
      right: 0;
      position: absolute;
    }

    .intermedium__block_text--left .slide__text--block{
      left:0;
      position: absolute;
    }
    .intermedium__block_text--left .slide__paragraph{
        margin-left: 10px;
    }
    
    .intermedium__block_text--left .slide__title{
      text-align: left;
    }
    /* section three, slide 03/Services */
    #slide__03{
      background-image: url("../images/pexels-cottonbro-studio-4778662.jpg");
    }
    /* section four, slide 04/Team */
    #slide__04{
      background-image: url("../images/pexels-pixabay-256455.jpg");
    }

  }